@import '../../props';

.navbar {
  background-color: #2f2552;
  transition: ease 0.3s;
  color: white;
  .container {
    .navbar-brand {
      font-weight: bolder;
      letter-spacing: 2px;
      font-size: 20px;
      color: white;

      span {
        color: $color;
      }
      i {
        transition: 0.5s;
      }
      &:hover {
        color: rgba(255, 255, 255, 0.438);
        i {
          transform: rotate(360deg);
          color: rgba(255, 255, 255, 0.438);
        }
      }
    }
    .collapse {
      ul {
        li {
          a {
            color: white;
            font-weight: bolder;
            transition: 0.3s;

            &:hover {
              color: rgba(255, 255, 255, 0.438);
            }
          }
        }
      }
    }
  }
}

.hover,
.active {
  &:before,
  &:after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: $color;
    transition: all ease 0.3s;
    left: 0;
  }
}

.hover {
  &:before,
  &:after {
    opacity: 0;
  }
  &:before {
    top: -10%;
  }
  &:after {
    bottom: -30%;
  }
  &:hover {
    &:before {
      top: 0;
      opacity: 1;
    }
    &:after {
      bottom: 0;
      opacity: 1;
    }
  }
}

.active {
  &:before,
  &:after {
    opacity: 1;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}
